## Soal UTS

In [1]:

# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

The next few cells will show some examples on how to interact with our functions. Note that some of these function calls could be useful for you in completing the tasks below.

In [13]:
# Define a function to get and sort the list of all companies by name in reverse order
def get_sorted_company_names(company_list):
    # Sort the company names in reverse order
    sorted_companies = sorted(company_list, key=lambda x: x['name'], reverse=True)
    # Format the output to only include the company name
    return [{"name": company['name']} for company in sorted_companies]

# Example usage
company_detail_list = [
    {
        'name': 'Company 1',
        'domain': 'Retail',
        'country': 'United States'
    },
    {
        'name': 'Company 2',
        'domain': 'Technology',
        'country': 'United Kingdom'
    },
    {
        'name': 'Company 3',
        'domain': 'Healthcare',
        'country': 'United States'
    }
]

# Get sorted company names
sorted_companies = get_sorted_company_names(company_detail_list)
print(sorted_companies)

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

## Task 1

Please get the list of all Companies and sort by **Company Name** in reverse order.

Expected result:


```json
[{
    "name": "Company 3"
}, {
    "name": "Company 2"
}, {
    "name": "Company 1"
}]
```

## Soal 2

Please print all Domain value in every company (use print statement).

Expected return:

```
    Company 1: Retail (United States)
    Company 2: Technology (United Kingdom)
    Company 3: Healthcare (United States)
```

In [10]:
company_domain_map = {company['name']: company['domain'] for company in company_detail_list}
employees_by_domain = {}
for employee in employee_detail_list:
    company_name = employee['company']
    domain = company_domain_map.get(company_name)
    if domain:
        employees_by_domain.setdefault(domain, []).append(employee['full_name'])
        print(employees_by_domain)

{'Retail': ['John Doe']}
{'Retail': ['John Doe'], 'Technology': ['Tom Smith']}
{'Retail': ['John Doe'], 'Technology': ['Tom Smith'], 'Healthcare': ['Andrew Sebastian']}
{'Retail': ['John Doe', 'Ying Han Tan'], 'Technology': ['Tom Smith'], 'Healthcare': ['Andrew Sebastian']}
{'Retail': ['John Doe', 'Ying Han Tan'], 'Technology': ['Tom Smith'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}
{'Retail': ['John Doe', 'Ying Han Tan'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}
{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

## Task 3

List all Employees work By company domain.

Expected return:

```json
{
    "Retail": [
         "John Doe",
         "Robert White",
         "Ying Han Tan"
     ],
    "Technology":[
          "Tom Smith",
          "Rubby Lee",
     ],
    "Healthcare": [
         "Kenneth Ng",
         "Andrew Sebastian"
     ],
}
```

In [11]:
def get_employees_with_company_country(company_list, employee_list):
    # Membuat dictionary untuk memetakan setiap perusahaan ke negaranya
    company_country_map = {company['name']: company['country'] for company in company_list}
    
    # Membuat daftar untuk menyimpan hasil
    employee_country_list = []
    
    # Menambahkan negara perusahaan untuk setiap karyawan
    for employee in employee_list:
        company_name = employee['company']
        country = company_country_map.get(company_name)
        
        # Menambahkan informasi karyawan ke daftar hasil
        employee_country_list.append({
            "full_name": employee['full_name'],
            "company": employee['company'],
            "country": country
        })
    
    return employee_country_list

# Memanggil fungsi dengan data yang tersedia
get_employees_with_company_country(company_detail_list, employee_detail_list)

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'},
 {'full_name': 'Tom Smith',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Andrew Sebastian',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Ying Han Tan',
  'company': 'Company 1',
  'country': 'United States'},
 {'full_name': 'Kenneth Ng',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Rubby Lee',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Robert White',
  'company': 'Company 1',
  'country': 'United States'}]

## Task 4

Create a function that return employees with it's company country.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "country": "United States"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "country": "United Kingdom"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 3",
    "country": "United Kingdom"
},  {
    "full_name": "Ying Han Tan",
    "company": "Company 1",
    "country": "United States"
},  {
    "full_name": "Kenneth Ng",
    "company": "Company 3",
    "country": "United States"
},  {
    "full_name": "Rubby Lee",
    "company": "Company 2",
    "country": "United Kingdom"
},   {
    "full_name": "Robert White",
    "company": "Company 1",
    "country": "United States"
},
    
]
```

## Task 5

Create a function that return companies with a number of employees nationality that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employee_nationality": {
        "Australia": 2,
        "Hong Kong": 1
    }
}, {
    "company": "Company 2",
    "employee_nationality": {
        "Hong Kong": 1,
        "United States": 1
    }
}, {
    "company": "Company 3",
    "employee_nationality": {
        "United States": 2
    }
}]
```

In [12]:
def get_company_employee_nationality_count(company_list, employee_list):
    # Inisialisasi dictionary untuk menyimpan jumlah kebangsaan karyawan di setiap perusahaan
    company_nationality_count = {company['name']: {} for company in company_list}
    
    # Iterasi setiap karyawan
    for employee in employee_list:
        company_name = employee['company']
        nationality = employee['nationality']
        
        # Memperbarui jumlah kebangsaan untuk setiap perusahaan
        if nationality in company_nationality_count[company_name]:
            company_nationality_count[company_name][nationality] += 1
        else:
            company_nationality_count[company_name][nationality] = 1

    # Format hasil sesuai struktur yang diinginkan
    result = [
        {"company": company, "employee_nationality": nationalities}
        for company, nationalities in company_nationality_count.items()
    ]
    
    return result

# Contoh pemanggilan fungsi
get_company_employee_nationality_count(company_detail_list, employee_detail_list)

[{'company': 'Company 1',
  'employee_nationality': {'Australia': 2, 'United Kingdom': 1}},
 {'company': 'Company 2',
  'employee_nationality': {'United States': 1, 'Hong Kong': 1}},
 {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]

## Task 5

Create a function that return companies with a number of employees nationality that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employee_nationality": {
        "Australia": 2,
        "Hong Kong": 1
    }
}, {
    "company": "Company 2",
    "employee_nationality": {
        "Hong Kong": 1,
        "United States": 1
    }
}, {
    "company": "Company 3",
    "employee_nationality": {
        "United States": 2
    }
}]
```